/* Font collecton
font-family: 'Diplomata', cursive;
font-family: 'Astloch', cursive;
font-family: 'Metal Mania', cursive;
font-family: 'Barrio', cursive;
font-family: 'Jolly Lodger', cursive;
font-family: 'Autour One', cursive;
font-family: 'Griffy', cursive;
font-family: 'Trade Winds', cursive;
font-family: 'Henny Penny', cursive;
font-family: 'Nosifer', cursive;
font-family: 'UnifrakturCook', cursive;
font-family: 'Bungee Shade', cursive;
font-family: 'Mountains of Christmas', cursive;
font-family: 'Codystar', cursive;
font-family: 'Finger Paint', cursive;
font-family: 'Faster One', cursive;
font-family: 'Sofia', cursive;
font-family: 'IM Fell English SC', serif;
font-family: 'Monofett', cursive;
font-family: 'Gravitas One', cursive;
*/

.Diplomata {
    font-family: 'Diplomata', cursive;
}

.Astloch{
    font-family: 'Astloch', cursive;
}
.MetalMania{
    font-family: 'Metal Mania', cursive;
}

.Barrio{
    font-family: 'Barrio', cursive;
}

.JollyLodger{
    font-family: 'Jolly Lodger', cursive;
}

.AutourOne{
    font-family: 'Autour One', cursive;
}

.Griffy{
    font-family: 'Griffy', cursive;
}

.TradeWinds{
    font-family: 'Trade Winds', cursive;
}

.HennyPenny{
    font-family: 'Henny Penny', cursive;
}

.Nosifer{
    font-family: 'Nosifer', cursive;
}

.UnifrakturCook{
    font-family: 'UnifrakturCook', cursive;
}

.BungeeShade{
    font-family: 'Bungee Shade', cursive;
}

.MountainsofChristmas{
    font-family: 'Mountains of Christmas', cursive;
}

.Codystar{
    font-family: 'Codystar', cursive;
}

.FingerPaint{
    font-family: 'Finger Paint', cursive;
}

.FasterOne{
    font-family: 'Faster One', cursive;
}

.Sofia{
    font-family: 'Sofia', cursive;
}

.IMFellEnglishSC{
    font-family: 'IM Fell English SC', serif;
}

.Monofett{
    font-family: 'Monofett', cursive;
}

.GravitasOne{
    font-family: 'Gravitas One', cursive;
}

/* **************************** 
        Variables
***************************** */

element {
  --neon-text-color: #9357ff;
}






/*************** Mobile First - no grid Support - Landscape ***************/

/* **************************** 
        General Styles 
***************************** */
body {
    
	background: #fdf5e8 url('../assets/imgs/black_paper.png');
	/*color: #020a17; #fdf5e8;*/
    margin: 0;
    font-size: 16px;
    line-height: 20px;
    color: floralwhite;
    overflow-x: hidden;
    font-family: 'Autour One', cursive;
}

.content {
    width: 100%;
    margin: auto;
    padding: 1em;
    box-sizing: border-box;
}

.centerFlex {
    display: flex;
    justify-content: space-evenly;
    padding: 0 4rem;
    box-sizing: border-box;
    width: 100%;
}

a {
    padding: 1rem;
    text-decoration: none;
}

a:active {
    color: #b39fc1;
}

.hide {
    opacity: 0;
}

ul {
    list-style: none;
}


input, textarea, select, button {
  width : 150px;
  margin: 0;

  -webkit-box-sizing: border-box; /* For legacy WebKit based browsers */
     -moz-box-sizing: border-box; /* For legacy (Firefox <29) Gecko based browsers */
          box-sizing: border-box;
}

input[type=radio] {
    display: inline-block;
    width: 18%;
}

label {
    padding: 12px 0px 12px 0;
    display: block;

}

label.radio {
    display: inline-block;
    width: 80%;
}

.required{
    color: #ca5182;
}

form {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: auto;
}

form input, form textarea {
    width:  90%;
    margin: 0 auto 1rem auto;
    
}
form label {
    width: 90%;
    text-align: left;
    margin: 0 auto 0 auto;
}

/* Change the white to any color ;) */
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px #252121 inset;
    -webkit-text-fill-color: #b39fc1 !important;
}


.forgot a {
    color: #9357ff;
}


/* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
#map {
    height: 40vh;
}


/* **************************** 
        Avatar Styles 
***************************** */

img.avatar.small {
    height: 4rem;
    /* width: 4rem; */
    border-radius: 100%;
}

/* **************************** 
        Exit button  Styles 
***************************** */
/*#742bf7;*/
.signOuter {
    display: none;
}

#exitIcon {
    display: block;
    height: 2rem;
    width: 2rem;
    position: relative;
}

#exitSign {
    position: absolute;
    top: 1%;
    right: 1%;
}


/* **************************** 
        Text Styles 
***************************** */
h1{
    font-family: 'Codystar', cursive;
    padding: 0 2em;
    color: white;
    /* width: 100%; */
    font-size: 4em;
    margin: auto;
    padding: 0.25em;
}

h3 {
    font-family: 'Codystar', cursive;
    font-size: 2rem;
    line-height: 2.4rem;
}

h4, h2, h3 {
    text-align: center;
}

p {
    text-align: center;
    padding: 0 6rem;
}

hr {
	border: none;
    height: 1.4rem;
    width: 100%;
    background: url(../assets/imgs/hr.png) center center no-repeat;
    margin: 2rem auto;
}




/* **************************** 
        Button Styles 
***************************** */

.outline:hover {
    border-color: #020a17;
}

.outline {
    border: #b39fc1 0.05rem solid;
    color: #fdf5e8;
    border-radius: 0.5em;
    padding: 0.8em;
}

.btn {
    background-color: #2d3142;
    font-size: 16px;
    cursor: pointer;
}

/* **************************** 
        Main Banner Styles 
***************************** */

#banner {
    height: 10rem;
    background: url(../assets/imgs/readingWomanInBathWithBooks.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    width: 100vw;
    font-family:'Codystar', cursive;
    border-bottom: 0.5em black solid;
}

#banner a {
    display: flex;
    text-align: center;
    font-family:'Codystar', cursive;
    text-decoration: none;
}


/* **************************** 
        Nav Styles 
***************************** */

#main-nav {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    min-height: 100vh;
    
    transition: left 0.66667s ease;
    -webkit-transition: left 0.66667s ease;
    -moz-transition: left 0.66667s ease;
    -o-transition: left 0.66667s ease;
}

#main-menu {
    position: absolute;
    top: 50px;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 1em 0;
    list-style: none;
    
    transition: left 0.66667s ease;
    -webkit-transition: left 0.66667s ease;
    -moz-transition: left 0.66667s ease;
    -o-transition: left 0.66667s ease;
}

#menu-icon {
    position: absolute;
    top: 23.5rem;
    left: 100%;
    width: 48px;
    height: 48px;
    padding: 3px 0;
    background: #3f3446;
    border-radius: 0 6px 6px 0;
    cursor: pointer;
    
    transition: left 0.66667s ease;
    -webkit-transition: left 0.66667s ease;
    -moz-transition: left 0.66667s ease;
    -o-transition: left 0.66667s ease;
}

#menu-icon:hover {
     background: #2d3142;
}

.icon-bar {
    position: relative;
    top: 0%;
    width: 36px;
    height: 6px;
    margin: 6px;
    background: #FFF;
    border-radius: 2px;
    
    transition: all 0.66667s ease;
    -webkit-transition: all 0.66667s ease;
    -moz-transition: all 0.66667s ease;
    -o-transition: all 0.66667s ease;
}

nav {
    background-repeat: no-repeat;
    background-size: cover;
    /*height: 40;*/
    width: 100%;
    /*position: fixed;
    top: 0;*/
    z-index: 1;
    color: white;
    display: flex;
    justify-content: space-around;
    font-size: x-large;
    border-top: solid 0.25em black;
}

nav ul{
    display: inline-flex;
    list-style: none;
    padding: 0;
    margin: 0;
    justify-content: space-evenly;
    width: 100%;
}

nav ul li {
    width: fit-content;
    /* flex:1; */
    display: flex;
    text-align: center;
    margin: 0 0.5em;
}

nav ul li a {
    width: 100%;
    font-family: 'Codystar', cursive;
    font-size: medium;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #3f3446;
    padding: 0.5em 1.5em;
    overflow: hidden;
    color: white;
    text-decoration: none;
    margin: -2em 0px 0px 0px;
    -moz-border-radius: 5px 5px 0px 0px;
    border-radius: 5px;
    box-shadow: 0 0 8px 1px white;
    font-weight: 800;
}

nav ul li a:hover {
	background: #706677;
}

nav ul li a:active {
	background: #2d3142;
}

.selected {
    -moz-border-radius: 5px 0px 0px 0px;
    border-radius: 5px 0px 0px 0px;
    background: #2D3142;
}

.selected:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    border-style: solid;
    background: #020a17;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.3), -1px 1px 1px rgba(0,0,0,0.2);
    -moz-box-shadow: 0 1px 1px rgba(0,0,0,0.3), -1px 1px 1px rgba(0,0,0,0.2);
    box-shadow: 0 1px 1px rgba(0,0,0,0.3), -1px 1px 1px rgba(0,0,0,0.2);
    /* Firefox 3.0 damage limitation */
    display: block; width: 0;
    border-width: 8px;
    border-color: #171616 #171616 transparent transparent;
    -moz-border-radius: 0 0 0 5px;
    border-radius: 0 0 0 5px;
}

nav .icon-bar {
    position: relative;
    top: 0%;
    width: 36px;
    height: 6px;
    margin: 6px;
    background: #FFF;
    border-radius: 2px;
    
    transition: all 0.66667s ease;
    -webkit-transition: all 0.66667s ease;
    -moz-transition: all 0.66667s ease;
    -o-transition: all 0.66667s ease;
}

nav .active .icon-bar:first-child {
    transform: rotate(45deg);
    position: relative;
    top: 29%;
}
nav .active .icon-bar:nth-child(2) {
    opacity: 0;
}

nav .active .icon-bar:last-child {
    transform: rotate(-45deg);
    position: relative;
    top: -28%;
}

/* *************************************** 
        Sorting of Book List Styles 
**************************************** */

/******* headers and arrows for sorting books *******/
.triangle-down{
    width: 0; 
    height: 0; 
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 8px solid #fff;
}

.triangle-up{
    width: 0; 
    height: 0; 
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid white;
}


.table button, .table input[type="submit"], .table input[type="reset"] {
    background: none !important;
    color: inherit;
    border: none;
    padding: 1em! important;
    font: inherit;
    cursor: pointer;
    outline: inherit !important;
}

.table {

    margin: auto;

}

.table th{
    text-align: left;
    padding: 0.25em;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.table tr{
    display: flex;
    justify-content: space-around;
}
.table td, .table th {
    flex:1;
    min-width:100px;
    padding: 0.25em;
}


/* *************************************** 
            Developer Info Styles 
**************************************** */

#developerDetails {
    text-align: center;
    margin: 2em 0;
    font-family: 'Codystar', cursive;
    font-weight: bold;
}

#developerDetails ul {
    padding: 0;
    list-style: none;
    display: flex;
    text-align: center;
    justify-content: center;
}


#developerDetails li a img {
    height: 1.4em;
    margin: 0 0.4em;
}

/* *************************************** 
            Meet up Styles 
**************************************** */
#attendance {
    display: flex;
    justify-content: space-around;
    align-content: center;
    width: 40vw;
    margin: auto;
    text-align: center;
}

#attendance  > *, #attendance a > *  {
    padding: 0;
    flex: 1;
    margin: auto;
    display: flex;
}

#attendance a label  {
    text-align: left;
}

#attendance a label:focus {
    outline: none;
}
/* *************************************** 
            Notice Board Styles 
**************************************** */

#noticeboard {
    text-align: center;
}

.notice {
    padding: 1em;
    border: solid white 0.15rem;
    background: #7066775e;
    position: relative;
}

.pin {
    display: block;
    background: white;
    border-radius: 100%;
    HEIGHT: 1.4rem;
    width: 1.4rem;
    position: absolute;
    top: -0.8rem;
    left: 50%;
    z-index: 1;
}

.noticePublisher {
    text-align: right;
    padding: 0 6rem;

}

/* *************************************** 
           Login Styles 
**************************************** */

#signup {
    transition: opacity ease 1s;
    opacity: 0;
}

#login {
    transition: opacity ease 1s;
    position: absolute;
    top: -6%;
    z-index: 1;
}

.field-wrap label {
    position: absolute;
    -webkit-transform: translateY(6px);
    transform: translateY(6px);
    left: 0;
    top: 0;
    color: rgba(255, 255, 255, 0.5);
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
    -webkit-backface-visibility: hidden;
    pointer-events: none;
    font-size: 22px;
    padding: 0 0 0 1rem;
}

.field-wrap label .req {
    margin: 2px;
    color: #ca5182;
}

.field-wrap label.active {
  -webkit-transform: translateY(50px);
          transform: translateY(50px);
  left: 2px;
  font-size: 14px;
}
.field-wrap label.active .req {
  opacity: 0;
}

.field-wrap label.highlight {
  color: #ffffff;
}

.form input, .form textarea {
  font-size: 22px;
  display: block;
  width: 100%;
    min-height: 3rem;
  padding: 5px 10px;
  background: none;
  background-image: none;
border: 1px solid #b39fc1;
  color: #ffffff;
  border-radius: 0;
  -webkit-transition: border-color .25s ease, box-shadow .25s ease;
  transition: border-color .25s ease, box-shadow .25s ease;
}

input:focus, textarea:focus {
    outline: 0;
    border-color: #9357ff;
}

textarea {
  border: 2px solid #a0b3b0;
  resize: vertical;
}

.form {
    padding: 40px;
    max-width: 600px;
    margin: auto;
    border-radius: 4px;
}

.formBtn {
    display: flex;
    justify-content: center;
    align-items: center;
}

.formBtn p {
    padding: 0;
}

.tab-group {
    list-style: none;
    padding: 0;
    margin: 0 0 40px 0;
    box-sizing: border-box;
    display:flex;
}

.tab-group:after {
  content: "";
  display: table;
  clear: both;
}

.tab-group li {
    flex: 1;
}

.tab-group li a {
    display: inline-block;
    text-decoration: none;
    padding: 15px 0;
    background: #706677;
    color: #ccc;
    font-size: 20px;
    width: 100%;
    text-align: center;
    cursor: pointer;
    -webkit-transition: .5s ease;
    transition: .5s ease;
}

.tab-group li a:hover {
    background: #2d3142;
    color: #ffffff;
}

.tab-group .active a {
    background: #2d3142;
    color: #ffffff;
}

.tab-content {
    position: relative;
    display: flex;
    justify-content: center;
}

.field-wrap {
  position: relative;
  margin-bottom: 40px;
}

.top-row:after {
  content: "";
  display: table;
  clear: both;
}
.top-row > div {
  float: left;
  width: 48%;
  margin-right: 4%;
}
.top-row > div:last-child {
  margin: 0;
}



p.forgot {
    text-align: right;
    padding: 0;
}
/* *************************************** 
            Poll Styles 
**************************************** */

#poll ul {
    width: 60vw;
    margin: auto;
    padding: 0;
}

#poll ul li {
    margin: 2em;
}


/* *************************************** 
            Book List Styles 
**************************************** */

#booklist input[type=text] {
    float: right;
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
}

#searchAndAdd {
    width: 60vw;
    margin: 4rem auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#searchAndAdd div {
    flex: 1;
    text-align: center;
}

#searchWithClear {
    display: inline-flex;
    width: max-content;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 0 2rem;
}

#searchWithClear input[type=text] {
    margin: auto;
    width: fit-content;
    float: none;
}

.clear {
    display: inline-block;
    padding: 0 0.8rem;
    font-weight: bold;
}


/* *************************************** 
            Add Book form Styles 
**************************************** */
#search {
    position: relative;
    width: 60%;
    margin: auto;
    display: flex;
}
#search-input {
    border-color: #fff;
    /*border-radius: 0.5em 0 0 0.5em;*/
    width: 75%;
    height: 2.8rem;
    padding: 0.8rem 1.4rem;
}
#search-input:focus {
    border-color: #9357ff;
}
#search button {
    font-size: 1em;
    height: 2.8rem;
    margin-left: -0.5em;
    padding: 0.2em;
    border: #fff thin solid;
    /* border-radius: 0.5em; */
    background: #3f3446;
    color: #fff;
}
button#search-btn {
    border-left-color: #333;
    /*border-radius: 0 0.5em 0.5em 0;*/
}

button#search-btn:focus {
    border-color: #9357ff;
}

#contactForm {
    width: 60%;
    margin: auto;
}
#contactForm textarea {
    width: 100%;
    height: 8rem;
   
}

input.btn.outline {
    margin: 1em 0;
}

#contactForm input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 3px solid #ccc;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
}

#contactForm input[type=text]:focus {
    border: 3px solid #742bf7;
}


/* *************************** 
        Meetup Styles 
**************************** */
img.bookCover {
    height: 16rem;
}

#map {
    position: relative;
    overflow: hidden;
    width: 80%;
    margin: auto;
}

/* ****************************  
        media queries 
***************************** */
@media screen and (min-width:750px) { /*ipad*/
    #banner {
        height: 17rem;
    }
    
    .form {
        min-height: 800px;
        margin-top: 40px;    
    }
    
    h1 {
        font-size: 6em;
    }
    
    /* *************************************** 
                Nav Styles 
    **************************************** */
    
    #main-nav {
        position: relative;
        left: 0;
        min-height: 0;
    }
    
    #main-menu {
        position: relative;
        top: 0;
        padding: 0;
        /* width: 75%; */
        margin: 0 auto;
    }
    
    #main-menu li {
        float:left;
        width: 20%;
        position: relative;
    }   
    
    /* Burger button only for mobile view */
    #menu-icon {
        display: none;
    }
    
    /* **************************** 
        Exit button  Styles 
    ***************************** */
    #exitIcon {
        display: none;
    }
    

    .signOuter {
      height: 3.45rem;
      width: 8.5rem;
      border: 0.2em solid #742bf7;
    display: block;
      box-shadow: 0 0 1rem #742bf7, -3px 2px 1rem #b39fc1;
    /*box-shadow:
            inset 0 0 50px #fff,      /* inner white */
            /*inset 20px 0 80px #f0f,   /* inner left magenta short */
            /*inset -20px 0 80px #0ff,  /* inner right cyan short */
            /*inset 20px 0 300px #f0f,  /* inner left magenta broad */
            /*inset -20px 0 300px #0ff, /* inner right cyan broad */
            /*0 0 50px #fff,            /* outer white */
            /*-10px 0 80px #f0f,        /* outer left magenta */
            /*10px 0 80px #0ff;         /* outer right cyan */
      border-radius: 2px;
      position: relative;
    }

    .signInner {
      height: 3rem;
      width: 8rem;
      position: relative;
        left: 1%;
      border: 0.2rem solid #742bf7;
      box-shadow: inset 0 0 1rem #742bf7, inset 0 0 9px #b39fc1;
      outline: white solid 1px;
      color: white;
      text-align: center;
       font-size: 1.8rem;
    }


    /* prepare the selectors to add a stroke to */
    .stroke-single,
    .stroke-double {
      position: relative;
      left: -40%;
      top: 25%;
      background: transparent;
      z-index: 0;
    }
    /* add a single stroke */
    .stroke-single:before,
    .stroke-double:before {
      content: "EXIT";
      position: absolute;
      font-family: 'Varela Round', sans-serif;
      left: 0;
      z-index: -1;
      letter-spacing: 0.8rem;
    }
    /* add a double stroke */
    .stroke-double:after {
      content: "EXIT";
      position: absolute;
      -webkit-text-stroke: 0.6rem #742bf7;
      font-family: 'Varela Round', sans-serif;
      text-shadow: 1em 0.3em 1.2em #742bf7, 0 0 1em #742bf7, 0 0 2em #742bf7;
      letter-spacing: 0.8rem;
      left: 0;
      z-index: -2;
    }

    
}

@media screen and (min-width:1050px) {
    /* *************************************** 
                General Styles 
    **************************************** */
    
    body {
        font-size: 18px;
    }
    
    .content {
        width: 75%;
    }
    
    h1 {
        font-size: 6em;
    }


    /* **************************** 
        Text Styles 
    ***************************** */

    h3 {
        font-size: -webkit-xxx-large;
    }
    
    h1 {
        font-size: 8em;
    }


    /* *************************************** 
                Main Banner Styles 
    **************************************** */
    
    #banner {
        border-bottom: 0.4rem solid black;
        height: 25rem;
    }
    
} /* media Query min-width:800px*